# TouchDesigner automatic backups
Backup/
Heroes.*.toe

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.bak

# Logs
**/**.log

# Media files
**/*.mov
**/*.wav
**/*.mp3